*~
.DS_Store
slprj
*.mexmaci64
PreContextMenu.m
doc/compositionalAnalysis.md
doc/images/
doc/installation.md
doc/kind2 installation.md
doc/menu.md
doc/pp_doc/
doc/specificationLibrary.md
doc/videos/
doc/verificationVisualization.md
examples/StateFlow/
examples/contract/
examples/properties/AltitudeControl_Demo.slx
examples/properties/assertion.mdl
examples/properties/assumption.slx
examples/properties/safe_math_functions.slx
examples/properties/unsafe_1.mdl
libs/contract/
src/Utils/Constants.m
src/Utils/Utils.m
src/Utils/app_sprintf.m
src/Utils/cprintf.m
src/Utils/display_msg.m
src/Utils/log4m.m
src/backEnd/common/Kind2Utils.m
src/backEnd/common/plotting.m
src/backEnd/html_templates/tmp/
src/backEnd/templates/
src/backEnd/verification/cocoSpecVerify/cocoSpecVerify.m
src/backEnd/verification/cocoSpecVerify/utils/
src/backEnd/verification/lustreVerify/lustre_verify.m
src/backEnd/verification/lustreVerify/utils/
src/backEnd/verification/VerificationMenu.m
src/backEnd/verification/cocoSpecVerify/README.txt
src/frontEnd/IR/std_IR/IR_config.m
src/frontEnd/IR/std_IR/blocks/
src/frontEnd/IR/std_IR/cocosim_IR.m
src/frontEnd/IR/std_IR/example/
src/frontEnd/IR/std_IR/utils/
src/frontend/IR/std_IR/meta/
src/frontEnd/pp/std_pp/
src/gui/
src/middleEnd/lustre_compiler1/
src/middleEnd/lustre_compiler2/
src/miscellaneous/
src/preferences/
tools/build/
tools/verifiers/
test

